.place__paragraph-container {
    order: 4;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width: 768px) {
    .place__paragraph-container {
        gap: 25px;
    }   
}