.cover__title {
    position: relative;
    z-index: 1;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
}

@media screen and (max-width: 505px) {
    .cover__title{
        font-size: 50px;
        line-height: 1.05;
    }
}

@media screen and (max-width: 352px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
    }
}